   <!-- TODO: make it a reusable directive (don't worry about style) -->
<div class="pagination">
    <div>
        Items per page
        <select ng-change="changePageSize()" ng-init="infos.pageSize = pageFilters[1]" ng-model="infos.pageSize" ng-options="level for level in pageFilters"></select>
    </div>
    <div>
        <button ng-click="firstPage()">&lt;&lt;</button>
        <button ng-click="antPage()">&lt;</button>
        Page
        <input type="number" value="{{infos.page}}" ng-init="infos.page=1" min="1" ng-model="infos.page" ng-change="changePage()" />  of {{infos.totalPages}} 
        <button ng-click="nextPage()">&gt;</button>
        <button ng-click="lastPage()">&gt;&gt;</button> <!-- 'go to last page' button -->
    </div>
    <div>
        <span>{{infos.totalItens}} items</span> <!-- total number of items -->
    </div>

</div>