<!-- table of contents -->

<span ng-show="loading">Loading....</span>
<table ng-show="!loading">
    <!-- table:header -->
    <tr>
      <th>
            <button ng-click="sortBy('id')">id</button>
            <span class="sortorder" ng-show="propertyName === 'id'" ng-class="{reverse: reverse}"></span>
        </th>
        <th>
            <button ng-click="sortBy('task')">Task</button>
            <span class="sortorder" ng-show="propertyName === 'task'" ng-class="{reverse: reverse}"></span>
        </th>
        <th>
            <button ng-click="sortBy('creationDate')">Created Date</button>
            <span class="sortorder" ng-show="propertyName === 'creationDate'" ng-class="{reverse: reverse}"></span>
        </th>
    </tr>

    <!-- table:body -->
    <tr ng-repeat="todo in todos track by $index">
        <td>{{todo.id}}</td>
        <td>{{todo.task}}</td>
        <td>{{todo.createdDate | date:'MM/dd/yyyy' }}</td>
    </tr>
</table>

<!-- pagination component -->
<pagination></pagination>