<!-- table of contents -->
<table>
    <!-- table:header -->
    <tr>
      <th>
            <button ng-click="sortBy('id')">id</button>
            <span class="sortorder" ng-show="propertyName === 'id'" ng-class="{reverse: reverse}"></span>
        </th>
        <th>
            <button ng-click="sortBy('task')">Task</button>
            <span class="sortorder" ng-show="propertyName === 'task'" ng-class="{reverse: reverse}"></span>
        </th>
        <th>
            <button ng-click="sortBy('creationDate')">Created Date</button>
            <span class="sortorder" ng-show="propertyName === 'creationDate'" ng-class="{reverse: reverse}"></span>
        </th>
    </tr>

    <!-- table:body -->
    <!--

    When the list is still loading (first load or any request made to server to fetch a page):
    - A loading indicator should be displayed instead of the table body to indicate it
    - It can be any kind of indicator (text, icon, img, etc).
    - Dont worry about styling (looking pretty, centralized, etc) it just has to show that the app is still active while the request is being made

    -->
    <tr ng-repeat="todo in todos track by $index">
        <td>{{todo.id}}</td>
        <td>{{todo.task}}</td>
        <td>{{todo.createdDate | date:'MM/dd/yyyy' }}</td>
    </tr>
</table>

<!-- pagination component -->
<pagination></pagination>